*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}


body {
    width: 175px;
    height: 400px;

}



.Container {
    width: 80%;
    margin: 4em auto;
    height: 400px;
    background-color:rgb(255, 251, 0);
    border: 20px;
    box-shadow: 0 0 0.4rem;
    
    transition: 0.3s ease-in;
}

.Container:hover{
    background-color:greenyellow;
}




h1 {

    color: orange;
    font-family: cursive;
}

h2 {
    width: fit-content;
    color: red;

}



.Container .selfie img {
    width: 140px;
    height: 175px;


}

section.info {
    width: fit-content;
    height: 200px;
    padding: 13px;
    font-size: 10px;
}

 .Container:hover  {

    transform: scale(1.2);


}

